[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
buildlib = "==3.0.0"
docopt = "*"
black = "*"
mypy = "*"
twine = "*"
setuptools = "==58.1.0"

[packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
