[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
setuptools = "==41.0.1"
buildlib = "==2.3.5"

[packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
